/*debug* /*{background:rgba(255,0,0,.2);outline:1px solid}

/*      _                 _   _     _                         _           
 __   _(_)___ _   _  __ _| | | |__ (_) ___ _ __ __ _ _ __ ___| |__  _   _ 
 \ \ / / / __| | | |/ _` | | | '_ \| |/ _ \ '__/ _` | '__/ __| '_ \| | | |
  \ V /| \__ \ |_| | (_| | | | | | | |  __/ | | (_| | | | (__| | | | |_| |
   \_/ |_|___/\__,_|\__,_|_| |_| |_|_|\___|_|  \__,_|_|  \___|_| |_|\__, |
                                                                    |___/  */
title::first-line { font-size:2.6rem }
title, h1, h2 { font:1.27rem/1 'Slabo 27px'; margin:1.6rem 0 1rem }
title { margin:1.27rem 0 }
* { font:1rem/1.27 Abel }



/*_       _        _           _                                 
 (_)_ __ | |_ _ __(_)_ __  ___(_) ___   ___ _ __   __ _  ___ ___ 
 | | '_ \| __| '__| | '_ \/ __| |/ __| / __| '_ \ / _` |/ __/ _ \
 | | | | | |_| |  | | | | \__ \ | (__  \__ \ |_) | (_| | (_|  __/
 |_|_| |_|\__|_|  |_|_| |_|___/_|\___| |___/ .__/ \__,_|\___\___|
                                           |_|                   */
html { padding:0 1rem; background:#ccc }
title,
body { padding:.6rem; background:rgba(255,255,255,.9);
  box-shadow:0 .6rem 1rem hsla(39,21%,21%,.3) }
li { margin-left:1em; list-style:upper-roman }
li li { margin-left:1.45rem; list-style:decimal-leading-zero }


head, title { display:block }
html { background:no-repeat center/cover hsl(39,21%,21%)
  url(https://lh6.googleusercontent.com/-SDxymme0VHI/AAAAAAAAAAI/AAAAAAAAZDo/sMmRjgO8iwU/photo.jpg) }
title:before { float:right; content:''; height:60px; width:60px;
  border-radius:60px; border:1px solid hsla(39,21%,21%,.4);
  background:center/cover 
  url(https://lh6.googleusercontent.com/-SDxymme0VHI/AAAAAAAAAAI/AAAAAAAAZDo/sMmRjgO8iwU/photo.jpg) }

/*      _       _           _     
   __ _| | ___ | |__   __ _| |___ 
  / _` | |/ _ \| '_ \ / _` | / __|
 | (_| | | (_) | |_) | (_| | \__ \
  \__, |_|\___/|_.__/ \__,_|_|___/
  |___/                           */
* { -webkit-font-smoothing: antialiased;
/* Reset intrinsic space */
max-width:35rem; margin:auto; padding:0 }

title, p, li { white-space:pre-line }
