@import 'https://fonts.googleapis.com/css?family=Rubik:300|Slabo+27px';
/*      _                 _   _     _                         _           
 __   _(_)___ _   _  __ _| | | |__ (_) ___ _ __ __ _ _ __ ___| |__  _   _ 
 \ \ / / / __| | | |/ _` | | | '_ \| |/ _ \ '__/ _` | '__/ __| '_ \| | | |
  \ V /| \__ \ |_| | (_| | | | | | | |  __/ | | (_| | | | (__| | | | |_| |
   \_/ |_|___/\__,_|\__,_|_| |_| |_|_|\___|_|  \__,_|_|  \___|_| |_|\__, |
                                                                    |___/  */
title::first-line { font-size:2.6rem }

title, h1, h2,
[class]:before,
script:first-line,
aside:first-line,
nav a:first-line { font:1.4rem/1.3 Rubik }
[class]:before { content:attr(class); display:block }

* { font:.95rem/1.4rem Rubik }

figure label { font-size:.78rem }

/* ____            _             _   
  / ___|___  _ __ | |_ ___ _ __ | |_ 
 | |   / _ \| '_ \| __/ _ \ '_ \| __|
 | |__| (_) | | | | ||  __/ | | | |_ 
  \____\___/|_| |_|\__\___|_| |_|\__|
                                      
* /*{background:rgba(255,0,0,.2);outline:1px solid}/**/
* { -webkit-font-smoothing: antialiased; text-decoration:none;
  box-sizing:border-box; margin:auto; padding:0 }

head, title, script:not([src]), [name=description] { display:block }
[name=description]:before { content:attr(value) }
title, p, li, aside, script { white-space:pre-line }

title:first-line,
:link, :visited,
a:hover, a:active { color:hsl(216,79%,45%) }

@page { margin:0 }
html { padding:1rem; max-width:55rem }

head > *, body > * { padding:.6rem 1rem; margin-bottom:.6rem }
script:not([src]) { padding-bottom:0 }

@media print, (min-width:800px) {
  head { float:left; width:38% }
  script { float:right; width:61%; padding-top:1.9rem }
  figure, aside { float:left; width:38% }
}


figure { display:flex; flex-flow:wrap; justify-content:center }
figure label,
figcaption { flex:1 0 50% }
figcaption { text-align:right }

nav { display:flex; flex-flow:wrap; width:100% }
nav a, nav:after { line-height:1rem; text-align:center }

@media screen {
  nav a:before { content:''; width:1.6em; height:1.6em; display:inline-block }
  [href*=linkedin]:before { 
    background:0/cover url(https://static.licdn.com/sc/h/eahiplrwoq61f4uan012ia17i) }
  [href*=nullisnull]:before { 
    background:0/cover url(https://cdn-images-1.medium.com/fit/c/72/72/1*tWJW1LEopkc46M2XfmQ9EQ.png)}
  [href*=gh-pages]:before { content:'</>'; margin-right:1ex }
  [href*="brito.mx/resume"] { display:none }
}
  
@media print {
  [href*=gh-pages] { display:none }
  html { transform:scale(.77); transform-origin:top }
}

/* you cannot quite escape the IE quirks once in awhile */
link { display:none }
