@import 'https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap';
/**/*,:before,:after,::first-line{background:rgba(255,89,0,.1)}/**/

* { font:16px/1.4 Noto Sans JP; white-space:pre-line;
  -webkit-font-smoothing: antialiased; text-decoration:none;
  box-sizing:border-box; margin:auto; padding:0 }
title { font-size:2.6rem }
h2 { font-weight:bold; line-height:1.6 }
head, title { display:block }
/* IE */ link { display:none }

:link, :visited, a:hover, a:active { color:hsl(216,79%,45%) }


/* 
@page { margin:0 }
html { padding:0 1rem; max-width:55rem }


@media print, (min-width:800px) {
  head { float:left; width:38% }
  script, section { float:right; width:calc(62% - 3rem) }
  .Skills, aside { float:left; width:38% }}

@media screen {
  nav a:before { content:''; width:1.6em; height:1.6em; display:inline-block }
  [href*=linkedin]:before { 
    background:0/cover url(https://static.licdn.com/sc/h/eahiplrwoq61f4uan012ia17i) }
  [href*=nullisnull]:before { 
    background:0/cover url(https://cdn-images-1.medium.com/fit/c/72/72/1*tWJW1LEopkc46M2XfmQ9EQ.png)}
  [href*=gh-pages]:before { content:'</>'; margin-right:1ex }
  [href*="brito.mx/resume"] { display:none }
}
  
@media print {
  [href*=gh-pages] { display:none }
  html { transform:scale(.77); transform-origin:top }
} */
